* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-padding-top: 10rem;
    /* overflow-x: hidden; */
  }
  
  body {
    font-family: 'Trirong', serif;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }

  /* header */
  .header{
    background: linear-gradient(90.55deg, #C94CFE 0.45%, #8E46FF 99.52%);
    padding: 2rem 1rem;
  }

  .fixed-header{
    position: sticky;
    width: 100%;
    transition: 0.8s;
    top: 0px;
    box-shadow: 0px 1px 10px #999;
    z-index: 1000;
  }

  .nav-toggle-btn{
    font-size: 2rem;
    border: none;
    color: white;
    background: transparent;
    display: none;
  }

  .nav-links, .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px;
    transition: all 1s;
  }


  .logo>a:link,.logo>a:visited{
    font-style: italic;
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }
  .nav-list{
    gap:2rem;
  }

  .nav-link:link, .nav-link:visited{
    font-size: 1.5rem;
    color: white;
  }

  .nav-link:hover{
    text-decoration: underline;
  }

  .a-btn:link, .a-btn:visited{
    display: inline-block;
    background: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #440084;
    border-radius: 4px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    font-weight: 500;
    margin-top: 2rem;
  }

  .a-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: skyblue;
  }



  .horizontal{
    max-width: 100rem;
    margin: 3rem auto;
    border-top: 2px solid;
  }

  .abt-btn:link, .a-btn:visited, .learn-more{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #440084;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #440084;
    transition: 0.5s;
  }
  .abt-btn:hover, .learn-more:hover{
    background-color: #440084;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  } 


  /* blog cards */
  .blog-list-section{
    padding: 4rem 1rem;
    background-color: #FBF1FF;
  }

  .blog-card{
    max-width: 55rem;
    margin: 0px auto;
    position: relative;
  }

  .blog-card>img{
    max-height: 27.5rem;
    object-fit: cover;
    width: 100%;
  }

  .blog-desc:link, .blog-desc:visited{
    display: block;
    max-width: 40rem;
    background: white;
    color: #000;
    margin: 0px auto 0px;
    position: relative;
    left: 0px;
    right: 0px;
    text-decoration: none;
    text-align: center;
    padding: 2rem 1rem;
    top: -30px;
  }

  .blog-title{
    font-size: 2.3rem;
    font-weight: 600;
    word-break: break-word;
    line-height: 1.4;
  }

  .blog-sub-content{
    font-size: 1.5rem;
    line-height: 1.4;
    word-break: break-word;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .blog-desc:hover{
    text-decoration: underline;
    color: #440084;
  }
  /* blog card ends */

  /* subscribe section */
  .subscribe-section{
    padding: 2rem 0px;
    margin: 5rem 0px;
  }

  .subscribe-heading{
    font-size: 3rem;
    line-height: 1.4;
    word-break: break-word;
    font-weight: bold;
  }

  .subscribe-subheading{
    font-size: 2rem;
    line-height: 1.5;
    word-break: break-word;
    margin-bottom: 2rem;
  }
  .subscribe-subheading>span{
    font-weight: bolder;
  }

  .email-input{
    max-width: 33rem;
    width: 100%;
    background: #F6E3FF;
    border: none;
    font-size: 3rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
  }

  .email-input:focus{
    outline: none;
    color: #440084;
    text-indent: 1rem;
  }

  .subscribe-btn{
    background: #AA58F8;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
  }

  .subscribe-img{
    width: 36rem;
    margin: 0px auto;
    display: block;
  }

  /* subscribe section ends */

  /* footer section */
  .footer-section{
    margin-top: 2rem;
    padding: 3rem 1rem;
    background: linear-gradient(0deg, #4F0CB9, #4F0CB9);
  }

  .footer-section a:link,.footer-section a:visited{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    max-width: 100%;
    word-break: break-word;
  }
  .footer-section a:hover{
    text-decoration: underline;
  }
  /* footer section ends */